name: pre-commit

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  FORCE_COLOR: '1'
  PIP_DISABLE_PIP_VERSION_CHECK: '1'
  PIP_PROGRESS_BAR: 'off'
  PYTHONUNBUFFERED: '1'

jobs:
  pre-commit:
    runs-on: ubuntu-22.04
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: astral-sh/setup-uv@b75a909f75acd358c2196fb9a5f1299a9a8868a4 # v6.7.0
      - run: echo PYTHON_DIR=$(uv python dir) | tee -a $GITHUB_ENV
      - name: Configure cache for pre-commit
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-3|${{ env.PYTHON_DIR }}|${{ hashFiles('.pre-commit-config.yaml') }} }}
      - run: |
          uv tool install git+https://github.com/pre-commit/pre-commit@1af6c8fa9502336c6977c2ff3e79185bd97a6e57  # v4.5.0
          uv run pre-commit run --show-diff-on-failure --color=always --all-files
